.vscode/
.mypy_cache/
.claude/
*.egg-info
*.pyc
*.safetensors
*.out
*.svg
*.tex
*.mp4
.cache/*
.matplotlib

context/*
data/*
outputs/*
_outputs_d2/*
**/wandb/*
miniconda.sh
OrthoMerge/models/*
OrthoMerge/outputs/*
utils/convert_llama_weights/meta_llama_model/*
utils/convert_llama_weights/transformers/*
__pycache__/**

outputs.zip