torch==2.2.1
torchvision==0.17.1
torchaudio==2.2.1
transformers==4.47.1
accelerate==0.34.2
safetensors==0.4.5
peft==0.17.1
tqdm==4.67.3
numpy==1.26.4
sentencepiece==0.2.0
protobuf==5.28.2
huggingface_hub==0.36.2
datasets==3.1.0
wandb==0.26.1
wrapt==2.2.1
geoopt==0.5.1